* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: linear-gradient(rgb(38, 10, 113),rgb(73, 26, 193));
    background-attachment: fixed;
}

.card{
    width: 400px;
    height: 400px;
    padding: 10px;
    margin: 10px;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;   
    transition: all 1s;   
}
.card:hover{
    transform: translate(0px , 10px);
}
.card-img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

h5{
    font-size: 25px;
    color: #003a90 !important;
}
p{
    font-size: 20px;
    color: #0066ff;
}

.card-text{
    font-size: 20px;
    color: #0066ff;
}

.card-title{
    font-size: 30px;
    color: #003a90 !important;
}

h1{
    text-align: center;
    font-size: 30px;
    color: #ffffff !important;
}